* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Microsoft Jhenghei";
}
//.fixed-width{ overflow: hidden; }
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: #000;
}

img{
  width: 100%;
}

.vam {
  font-size: 0;
}
.vam::before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.vam>*{
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  float: none!important;
}
// @mixin p(){
//   padding-top: 50px;
//   padding-bottom: 50px;
//   @include sm(){
//       padding-top: 100px;
//       padding-bottom: 100px;
//   }
// }
@mixin p($ps:50px, $pt:100px){
  padding-top: $ps;
  padding-bottom: $ps;
  @include sm(){
      padding-top: $pt;
      padding-bottom: $pt;
  }
}
